.body{
    background-color: blue;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.div{
    background-color:aliceblue;
    border-radius: 10px;
    text-align: center;
    width: min-content;
    height: 400px;
}
.tr{
    width: 100%;
    text-align: center;
    border: #333;
}
.b1{
    border: 2px solid #505050;
    border-radius: 50%;
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    text-decoration: #5020c9;
}
.submit{
    background-color: #3227b0;
    border: 2px solid #5020c9;
    border-radius: 15%;
    padding: 15px;
    color: #cecce3;
    font-size: 16px;
    cursor: pointer;
    width: 100;
    text-align: center;

}
.mypic{
    border: 2px #454449;
    border-radius: 50%;
    padding: 10px 10px;
    background-color: #4e4646;
    color: #3227b0;
    font-family: #3227b0;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    margin-left: 50px;
}
.tr{
    width: 100%;
    text-align: center;
    border: #333;
}